@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');

body {
    background-color: rgb(95, 93, 93);
}

header {
    background: #00000033;
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
}

.titulo-nome {
    color: #F8F9FA;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 29px;
    padding-left: 70px;
}

