body{
    background: linear-gradient(rgb(124, 239, 124) , rgb(255, 251, 141));
    margin: 0px;
}

img{
    border-radius: 155px;
    width: 100px;
    height: 110px;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }