@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background: linear-gradient(rgb(124, 239, 124) , rgb(255, 251, 141));
    margin: 0px;
}

.container {
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    }

.titulo {
    color: rgb(60, 0, 0);
    font-family: 'Lobster', cursive;
    font-size: 70px;
    margin-left: 120px;
    margin-top: 20px;
}

.head {
    display: flex;
    flex-direction: row;
}

#informacao > li {
    display: flex;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: rgb(0, 59, 111);
    font-size: 20px;
    margin-left: 1000px;
    margin-top: 30px;
    padding: 10px;
    justify-content: space-around;
}